
<table class="table">
  <caption>Lista de {{cliente}}</caption>
  <thead>
    <tr>
      <th scope="col">cliente</th>
      <th scope="col">btn1</th>
      <th scope="col">btn2</th>
      <th scope="col">btn3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{cliente}}</th>
      <td scope="row">{{btn1}}</td>
      <td scope="row">{{btn2}}</td>
      <td scope="row">{{btn3}}</td>
    </tr>
  </tbody>
</table>